.abilities {
  height: max-content;
}
.section-header {
  font-family: var(--alumni);
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  border-bottom: 4px solid #fff;
  width: max-content;
}

.traits-block {
  display: flex;
  flex-direction: column;
  float: right;
}

.characteristic-header {
  font-family: var(--cuprum);
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0;
  width: max-content;
}

.about-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 5rem;
  gap: 10rem;
}

.skills {
  margin-bottom: 5%;
}

.chart {
  margin: 0;
  padding-left: 5%;
}

@media (max-width: 1340px) {
  .about-content {
    flex-direction: column;
    gap: 0;
  }

  .about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .abilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .traits-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .traits-list-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

@media (max-width: 1040px) {
  .section-header {
    margin: 1vh 0;
  }

  .traits-header {
    width: 100%;
    padding: 0 5%;
  }

  .traits-list-wrapper {
    flex-direction: column;
  }

  .about-wrapper {
    flex-direction: column;
    gap: 0;
    margin: 0;
  }

  .about-content {
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 5vw;
  }

  .traits-header {
    text-align: center;
  }

  .traits-block {
    align-items: center;
  }

  .chart {
    margin: 10% 0 5% 0;
  }
}
