@keyframes borderTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.highlighted-name {
  color: var(--highlighted);
  animation: 0.5s ease 0s borderTransition;
  border-bottom: 4px solid var(--highlighted);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
  font-family: var(--cuprum);
}

.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.1s ease-out;
}

.menu-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.main-text-block {
  width: max-content;
}

.main-text-block h1 {
  font-family: var(--alumni);
  font-size: 96px;
  font-weight: 400;
}

.portfile-image img {
  border: 1px solid #fff;
  box-shadow: 0 0 8px #fff;
  width: 250px;
  height: 322px;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 5vh;
}

.header-btn h2 {
  font-family: var(--cuprum);
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (max-width: 1340px) {
  .preview {
    flex-direction: column;
    align-self: center;
  }

  .preview h1 {
    font-size: 5rem;
    width: max-content;
  }
}

@media (max-width: 600px) {
  #menu-home {
    display: none;
  }

  .highlighted-name {
    border-bottom: none;
  }

  .menu {
    justify-content: space-around;
  }

  .menu-item {
    border-bottom: 1px solid #fff;
    margin-bottom: 10%;
  }

  .preview {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portfile-image img {
    /* width: 50vw; */
    min-width: 200px;
    margin-bottom: 10%;
  }

  .preview h1 {
    margin: 10% 0;
    text-align: center;
  }

  .main-text-block h1 {
    font-size: calc(12px + 3rem);
  }

  .header-btn {
    margin-top: 1vh;
  }

  .header-btn h2 {
    display: none;
  }
}
