.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.project-item {
  position: relative;
  width: 300px;
  min-width: 200px;
  height: 200px;
  box-shadow: var(--box-shadow);
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blurred-bg {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

.json-validator {
  background-image: url("../../photos/json-logic\ validator.png");
}

.near-sps {
  background-image: url("../../photos/near-sps.png");
}

.web-market {
  background-image: url("../../photos/web-market.png");
}

.project-item-name {
  font-family: var(--alumni);
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  top: 5%;
}

.project-item button {
  position: absolute;
  bottom: 10%;
}

@media (max-width: 1040px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  .project-item {
    margin-bottom: 5%;
  }
}
