:root {
  --bg-color: #4d99b1;
  --highlighted: #ead191;
  --button-bg: #3c5a6e;
  --alumni: "Alumni Sans";
  --cuprum: "Cuprum";
  --card-color: rgba(94, 144, 160, 0.5);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul {
  padding: 0;
}

@keyframes menu-onload {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}

.transperent {
  opacity: 0;
}

.base-el {
  padding: 0 5%;
  color: #fff;
  animation: 0.5s ease 0s menu-onload;
  min-width: 1280px;
}

.title-block {
  display: flex;
  justify-content: center;
}

.whole-animation {
  animation: 0.5s ease 0s menu-onload;
}

.content-selector {
  width: 100%;
  color: #fff;
  height: 0.5px;
  font-weight: thin;
}

@media screen and (max-width: 500px) {
  html {
    width: 100vw;
  }

  .base-el {
    min-width: 100vw;
    padding: 0;
  }

  .content-selector {
    width: 90vw;
    margin: 5vh 5%;
  }
}
